<%- include('./layouts/header') -%>
<body>
  <%- include('./layouts/header-content') -%>
  <!--header-->
  <%- include('./layouts/sidebar') -%>
  <!--sidebar-->
  <div class="main">
    <div class="container">
      <div class="main-header">
        <div class="clear"></div>
      </div>
      <div class="content-wrapper">
        <video controls>
          <source src="<%=filepath%>" type="video/mp4" />
        </video>
      </div>
    </div>
  </div>
</body>
<%- include('./layouts/footer') -%>
